@charset "UTF-8";
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : module.css
    * @comment    : 사이트 전체 관련 CSS(공통요소)
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : title
    * @moduleName : _title
    * @comment    : title 기본
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.h1_title {
  font-family: 'ng-bold';
  color: #333;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5rem;
}

.h1_title_underline {
  font-family: 'ng-bold';
  color: #333;
  font-size: 1.154rem;
  font-weight: normal;
  line-height: 1.5rem;
  border-bottom: 1px solid #545e69;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : ButtonGroup
    * @moduleName : _buttons
    * @comment    : 버튼그룹
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* ButtonGroup */
.btn_grp_left_type1 {
  text-align: left;
  border-top: 1px solid #858585;
  margin: 5px;
}

.btn_grp_center_type1 {
  text-align: center;
  border-top: 1px solid #e2ebe9;
  margin: 10px;
}

.btn_grp_right_type1 {
  text-align: right;
  border-top: 1px solid #807c7b;
  margin: 15px;
}

/* 버튼포지션그룹 */
.btn_grp_pos {
  position: relative;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : CustomButtons
    * @moduleName : _buttons
    * @comment    : 커스텀 버튼(커스터마이징 가능)
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* Anchor태그 버튼 */
.btn_anchor_type1 {
  padding: 0 5px;
}
.btn_anchor_type1:link {
  color: #8dd6ba;
}
.btn_anchor_type1:visited {
  color: #8dd6ba;
}
.btn_anchor_type1:hover {
  color: #8dd6ba;
  text-decoration: none;
}
.btn_anchor_type1:active {
  color: #8dd6ba;
  text-decoration: none;
}

/* Anchor태그icon버튼 */
.btn_icon_type1 {
  border: 1px solid #bfbfbf;
}

/* button태그 버튼 */
.btn_button_type1 {
  border: 1px solid #bfbfbf;
}

/* background 버튼 */
.btn_bg_type1 {
  border: 1px solid #bfbfbf;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : Button공통
    * @moduleName : _buttons
    * @comment    : 공통버튼(커스터마이징 가능)
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* 읽기 */
.btn_view_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}
.btn_view_type1:link {
  color: #8dd6ba;
}
.btn_view_type1:visited {
  color: #8dd6ba;
}
.btn_view_type1:hover {
  color: #8dd6ba;
  text-decoration: none;
}
.btn_view_type1:active {
  color: #8dd6ba;
  text-decoration: none;
}

/* 쓰기 */
.btn_write_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 수정 */
.btn_modify_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 목록 */
.btn_list_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 확인 */
.btn_conf_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 등록 */
.btn_regist_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 취소 */
.btn_cancel_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 삭제 */
.btn_delete_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 정보 */
.btn_info_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 경고 */
.btn_warning_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 주의 */
.btn_danger_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/* 우편번호 */
.btn_post_type1 {
  border-color: #eb64bd;
  border-width: 1px;
  border-style: solid;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : tab
    * @moduleName : _tab
    * @comment    : tab메뉴(자세한 설명은 _tab 모듈 참고)
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* tab */
.tab {
  overflow: hidden;
}
.tab li {
  float: left;
  width: 33%;
}
.tab li a {
  box-sizing: border-box;
  color: #555555;
  display: block;
  font-size: 16px;
  text-align: center;
  margin-left: -1px;
  padding: 15px 0;
  border: 1px solid #c5c5c5;
  background: #f7f7f7;
}
.tab li .on {
  font-weight: bold;
  color: #fff;
  border: 1px solid #006db8;
  background: #006db8;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : icon(이미지)
    * @moduleName : _icon
    * @comment    : 블렛 및 게시판(파일,다운로드,찾기 기타 의미가 없는 아이콘)
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* bul_arrow_type : 화살표 */
.bul_arrow_type1 {
  padding-left: 10px;
  background: url("/app/rus/img/common/test.gif") no-repeat top left;
}

/* bul_trg_type1 : 삼각형 */
.bul_arrow_type1 {
  padding-left: 10px;
  background: url("/app/rus/img/common/test.gif") no-repeat top left;
}

/* bul_arc_type1 : 원 */
.bul_arrow_type1 {
  padding-left: 10px;
  background: url("/app/rus/img/common/test.gif") no-repeat top left;
}

/* bul_rtg_type1 : 사각형 */
.bul_arrow_type1 {
  padding-left: 10px;
  background: url("/app/rus/img/common/test.gif") no-repeat top left;
}

/* bul_file_type1 : 파일) */
.bul_arrow_type1 {
  padding-left: 10px;
  background: url("/app/rus/img/common/test.gif") no-repeat top left;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : icon(pseudo)
    * @moduleName : _icon
    * @comment    : 블렛(parameter) : $bul_sudo_rtg_type, $pdLeft, $posTop, $size, $color
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* bulSudoRect */
/*.bul_sudo_rtg_type1 {
  position: relative;
  padding-left: 10px;
}
.bul_sudo_rtg_type1:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 10px;
  height: 10px;
  background: #0ef6f5;
}*/

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : search
    * @moduleName : _search
    * @comment    : 검색영역
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* 검색 */
.search_wrap {
  overflow: hidden;
  border-top: 1px solid #519acd;
  border-bottom: 1px solid #d7d8da;
  background-color: #f5f5f5;
}
.search_wrap .search {
  color: #fff;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : dropdown
    * @moduleName : _dropdown
    * @comment    : 드롭다운 메뉴(자세한 설명은 _dropdown 모듈 참고)
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.dropdown_box_wrap .dropdown_box {
  position: relative;
  margin-bottom: 9px;
}
.dropdown_box_wrap .dropdown_box:last-child {
  margin-bottom: 0;
}
.dropdown_box_wrap .dropdown_box .dropdown_combo {
  position: relative;
  display: block;
  width: 190px;
  height: 33px;
  cursor: pointer;
}
.dropdown_box_wrap .dropdown_box .dropdown_combo .combo {
  display: block;
  padding: 0 8px;
  line-height: 33px;
  color: #fff;
  background: #404a58;
}
.dropdown_box_wrap .dropdown_box .dropdown_combo .combo:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
  height: 33px;
  cursor: pointer;
  background: url("/app/rus/img/common/bg_dropdown_arrow.gif") no-repeat;
}
.dropdown_box_wrap .dropdown_box .dropdown_combo .combo.on:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.dropdown_box_wrap .dropdown_box .dropdown_options {
  position: absolute;
  left: 0;
  width: 190px;
  background: #293444;
  display: none;
}
.dropdown_box_wrap .dropdown_box .dropdown_options ul {
  padding: 11px 14px;
}
.dropdown_box_wrap .dropdown_box .dropdown_options ul li a {
  display: block;
  line-height: 30px;
  color: #a1a2a3;
}
.dropdown_box_wrap .dropdown_box .dropdown_options ul li a:hover, .dropdown_box_wrap .dropdown_box .dropdown_options ul li a:active {
  color: #fff;
  text-decoration: underline;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : layerpop
    * @moduleName : _layerpop
    * @comment    : 레이어 팝업 싱글(한 페이지에 한번 호출) : Dimmed 포함
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.layer_wrap {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: 9000;
}
.layer_wrap .layer_inside {
  margin: 0 auto;
  width: 500px;
  background-color: #fff;
}
.layer_wrap .layer_inside .layer_header {
  padding: 13px 20px;
  background: url("/app/rus/img/common/bg_lay_header.gif") no-repeat top left;
}
.layer_wrap .layer_inside .layer_header h1 {
  font-weight: bold;
  font-size: 1.417em;
  color: #fff;
}
.layer_wrap .layer_inside .layer_body {
  padding: 20px;
}
.layer_wrap .layer_inside .layer_footer {
  overflow: hidden;
  padding: 15px 20px;
  background-color: #eff5f5;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : comment
    * @moduleName : _comment
    * @comment    :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.comment_wrap {
  border: 1px solid #78bb96;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : quick
    * @moduleName : _quick
    * @comment    :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.quick_wrap {
  background: #ffffff;
}
.quick_wrap .quick_list {
  overflow: hidden;
}
.quick_wrap .quick_list li {
  float: left;
  border: 1px solid #b0bbbb;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : faq
    * @moduleName : _faq
    * @comment    : FAQ 리스트 및 뷰
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.faq_wrap dl dt {
  font-size: 1.167em;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
  background: url("/app/rus/img/common/test.gif") no-repeat top left;
}
.faq_wrap dl dt .on {
  background: url("/app/rus/img/common/test.gif") no-repeat top left;
}
.faq_wrap dl dd {
  overflow: hidden;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : table_top
    * @moduleName : _tb_top
    * @comment    : 테이블 상단
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.tbl_top_wrap {
  border: 1px solid #768577;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : table_bottom
    * @moduleName : _tb_bottom
    * @comment    : 테이블 하단
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.tbl_btm_wrap {
  border: 1px solid #768577;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : table_list
    * @moduleName : _tb_list
    * @comment    : 테이블 리스트
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.tbl_list_wrap {
  margin: 15px 0;
}
.tbl_list_wrap .tbl_list {
  width: 100%;
  table-layout: fixed;
  line-height: 1.6;
}
.tbl_list_wrap .tbl_list thead th {
  padding: 10px 0 9px;
  font-size: 1.167em;
  line-height: 15px;
  border-top: 2px solid #519acd;
  border-bottom: 1px solid #519acd;
}
.tbl_list_wrap .tbl_list tbody td {
  padding: 10px 0 8px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : table_view
    * @moduleName : _tb_view
    * @comment    : 테이블 상세 보기
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.tbl_view_wrap {
  margin: 15px 0;
}
.tbl_view_wrap .tbl_view {
  width: 100%;
  table-layout: fixed;
  border-top: 2px solid #519acd;
  border-bottom: 1px solid #999;
}
.tbl_view_wrap .tbl_view thead th {
  padding: 10px 0 9px;
  font-size: 1.167em;
  line-height: 15px;
  border-top: 2px solid #519acd;
  border-bottom: 1px solid #519acd;
}
.tbl_view_wrap .tbl_view thead td {
  padding: 12px 20px 11px 0;
  border-top: 1px solid #519acd;
  text-align: right;
  color: #767676;
}
.tbl_view_wrap .tbl_view tbody td {
  padding: 10px 0 8px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : table_write
    * @moduleName : _tb_write
    * @comment    : 글 등록
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.tbl_write_wrap {
  margin: 15px 0;
}
.tbl_write_wrap .tbl_write {
  width: 100%;
  table-layout: fixed;
  line-height: 1.6;
}
.tbl_write_wrap .tbl_write thead th {
  padding: 10px 0 9px;
  font-size: 1.167em;
  line-height: 15px;
  border-top: 2px solid #519acd;
  border-bottom: 1px solid #519acd;
}
.tbl_write_wrap .tbl_write tbody td {
  padding: 10px 0 8px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : tb_gallery_list
    * @moduleName : _tb_gallery_list
    * @comment    : 갤러리 리스트
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.tbl_gallery_list_wrap {
  border: 1px solid #768577;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : tb_gallery_view
    * @moduleName : _tb_gallery_view
    * @comment    : 갤러리 리스트
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.tbl_gallery_view_wrap {
  border: 1px solid #768577;
}

/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
    * @Document   : pagination
    * @moduleName : _pagination
    * @comment    : 페이징(자세한 설명은 _pagination 모듈 참고)
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.paging {
  margin: 10px 0;
  text-align: center;
  font-size: 0;
}
.paging > a {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 2px;
  border: 1px solid #969b9d;
}
.paging .btn_page_first {
  background: url("/app/rus/img/common/btn_page_first.gif") left top no-repeat;
}
.paging .btn_page_prev {
  background: url("/app/rus/img/common/btn_page_prev.gif") left top no-repeat;
}
.paging .btn_page_next {
  background: url("/app/rus/img/common/btn_page_next.gif") left top no-repeat;
}
.paging .btn_page_last {
  background: url("/app/rus/img/common/btn_page_last.gif") left top no-repeat;
}
.paging .page_num {
  overflow: hidden;
  display: inline-block;
}
.paging .page_num li {
  float: left;
}
.paging .page_num li a {
  font-size: 11px;
  display: block;
  text-align: center;
  min-width: 26px;
  margin: 0 2px;
  padding: 5px 2px;
  border: 1px solid #969b9d;
}
.paging .page_num li a:link, .paging .page_num li a:visited, .paging .page_num li a:active {
  text-decoration: none;
}
.paging .page_num li a:hover {
  color: #000;
  text-decoration: underline;
}
.paging .page_num li:first-child a {
  margin-left: 5px;
}
.paging .page_num li:last-child a {
  margin-right: 5px;
}
.paging .page_num .on {
  font-weight: bold;
  color: #519Acd;
  border: 1px solid #519Acd;
  background: #f3faff;
}
