@charset "UTF-8";
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : reset
     * @comment      : reset 기본
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: break-all;
}

*, *::before, *::after {
  -webkit-moz-box-sizing: border-box;
  -ms-moz-box-sizing: border-box;
  -o-moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, font,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub,
sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu,
nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, ol, dl {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  word-break: break-all;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

legend, caption, figcaption {
  display: none;
  clear: both;
}

label {
  cursor: pointer;
  vertical-align: -1px;
}

button {
  margin: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
  cursor: pointer;
}

input {
  margin: 0;
  font: inherit;
  /*color: inherit;*/
  vertical-align: middle;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"] {
  background: #fff;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
  padding: 0;
}

textarea {
  margin: 0;
  resize: none;
  font: inherit;
  color: inherit;
  background: url(none);
  -webkit-border-radius: 1px;
  -webkit-appearance: none;
}

select {
  margin: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
  background: #fff;  
  -webkit-border-radius: 0;
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

optgroup {
  font: inherit;
  color: inherit;
  margin: 0;
}

img {
  vertical-align: top;
}

a:link {
  text-decoration: none;
  color: #555;
}
a:visited, a:hover, a:active {
  color: #555;
  text-decoration: none;
}

address, em {
  font-style: normal;
}

*::-moz-selection {
  background-color: #3399ff;
  color: #fff;
}

*::selection {
  background-color: #3399ff;
  color: #fff;
}

*::-moz-selection {
  background-color: #3399ff;
  color: #fff;
}

*::-webkit-selection {
  background-color: #3399ff;
  color: #fff;
}

/* blind */
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

/* skipnavi */
#skipnavi {
  position: absolute;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}

/* html 설정 */
html {
  font-size: 15px;
}

body {
  /*font-family: "ng";*/
}

/* 나눔 기본 */
@font-face {
  font-family: 'ng';
  font-style: normal;
  font-weight: normal;
  src: url("/app/vnm/webfont/NanumGothic.eot");
  src: url("/app/vnm/webfont/NanumGothic.eot?#iefix") format("embedded-opentype"), url("/app/vnm/webfont/NanumGothic.woff2") format("woff2"), url("/app/vnm/webfont/NanumGothic.woff") format("woff"), url("/app/vnm/webfont/NanumGothic.ttf") format("truetype");
}
/* 나눔 Regular */
@font-face {
  font-family: 'ng-reg';
  font-style: normal;
  font-weight: normal;
  src: url("/app/vnm/webfont/NanumGothic-Regular.eot");
  src: url("/app/vnm/webfont/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"), url("/app/vnm/webfont/NanumGothic-Regular.woff2") format("woff2"), url("/app/vnm/webfont/NanumGothic-Regular.woff") format("woff"), url("/app/vnm/webfont/NanumGothic-Regular.ttf") format("truetype");
}
/* 나눔 Bold */
@font-face {
  font-family: 'ng-bold';
  font-style: normal;
  font-weight: normal;
  src: url("/app/vnm/webfont/NanumGothic-Bold.eot");
  src: url("/app/vnm/webfont/NanumGothic-Bold.eot?#iefix") format("embedded-opentype"), url("/app/vnm/webfont/NanumGothic-Bold.woff2") format("woff2"), url("/app/vnm/webfont/NanumGothic-Bold.woff") format("woff"), url("/app/vnm/webfont/NanumGothic-Bold.ttf") format("truetype");
}
